autom4te.cache/*
bld*
*~
*.swp
*.pyc
*.o
*.la
*.lo
.libs
.deps
.dirstamp
util/generated/
util/matrices/generated/
bindings/python/build
bindings/python/parasail.c
bindings/python/parasail.so
Makefile
config.h
config.log
config.status
dist/*
libtool
stamp-h1
apps/parasail_aligner
apps/parasail_stats
